body {
  background-image: url("https://wallpapercave.com/wp/wp6045534.jpg");
  background-size: contain;
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-position: center;
 
}
